@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#vision {
  font-size: larger;
  font-style: italic;
}
h1 {
  color: #00005a;
  padding: 10 10 10 10;
  text-align: center; 
}

h1, h2 {
  font-family: 'Raleway', sans-serif
}

#team {
  font-family: 'Arvo', monospace;
  padding: 100 100 100 100;
}

.red-text-black-bg {
  color: red;
  background-color: black;
}
