@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1, h2, h3 {
  font-family: 'Arvo', sans-serif
}

h3 {
  font-size: 5px;
}

p, ol, li {
  font-family: 'Raleway', monospace;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  transition: 0.25s all ease;
}


.nav-bar-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: seagreen;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

.nav-bar {
  width: 100%;
  font-family: 'Raleway', monospace;
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style-type: none;
  width: 100%;
  overflow: hidden;
}

.nav-list li {
  float: left;
}

.nav-link {
  text-decoration: none;
  color: white;
  display: block;
  height: 100%;
  padding: 15px;
  text-align: center;
}

.nav-bar a:hover {
  background-color: green;
}

/* main {
  position: relative;
  margin-top: 8vh;
} */


#title {
  text-align: center;
  height: 300px;
  width: 100%;
  /* display: table;
  position: absolute;
  top: 0;
  left: 0; */
  /* position: absolute; */
}

#title-container {
  background: #008DDA;
  text-align: center;
  height: 100%;
  position: relative;
  background-position: 50% 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

#title-text {
  /* display: table-cell;
  vertical-align: middle; */
  /* width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0; */
  /* border: solid black; */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 50pt;
}

#global-resources {
  margin-top: 50px;
  margin-bottom: 50px;
}

#global-resources h2, #global-resources p {
  text-align: center;
}

.card-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}

.card {
  /* display: flex; */
  position: absolute;
  transform-origin: center;
  margin-bottom: 50px;
  margin: 5px;
  width: 150px;
  padding: 20px;
  transition: 0.15s;
  box-shadow: 2.6px 5.3px 5.3px hsl(0deg 0% 0% / 0.42);
  border-radius: 25px;
  /* text-align: center;
  justify-content: center; */
}

#Earth {
  width: 24em;
  opacity: 50%;
}

.card_container {
  position: absolute;
    width: 24em;
    height: 24em;
    border: dashed 1px;
    border-radius: 50%;
}

#card {
  border-radius: 50%;
  width: 100px;
}

#card:hover {
  transition: box-shadow 0.25s ease;
  box-shadow: 2.6px 5.3px 5.3px hsl(0deg 0% 0% / 0.42);
}

.deg0 {
  transform: translate(9em, -31em);
}

/* 12em = half the width of the wrapper */
.deg36 {
  transform: translate(19em, -34em);
  
}

.deg72 {
  transform: translate(24em, -32em);
}

.deg108 {
  transform: translate(24em, -27em);
}

.deg144 {
  transform: translate(18em, -27em);
}

.deg180 {
  transform: translate(9em, -30em);
}

.deg216 {
  transform: translate(-1em, -39em);
}

/* 12em = half the width of the wrapper */
.deg252 {
  transform: translate(-6em, -54em);
}

.deg288{
  transform:translate(-7em, -69em);
}

.deg324{
  transform: translate(-2em, -84em);
}

.card:hover {
  transform: scale(1.05);
}

.card-picture {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.card-picture-container {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.card-picture-container img {
  width: 100px;
}

.body {
  padding: 10pt;
  overflow-x: hidden;
}

.wireframe-section-container {
  display: grid;
  align-items: center; 
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* height: 500px; */
  row-gap: 100px;
  /* grid-auto-rows: minmax(0,1fr); */
}

.wireframe-container {
  display: grid;
  align-items: center; 
  grid-template-columns: 4fr 3fr;
  margin: 20px;
  /* height: 200px; */
  column-gap: 30px;
}

.wireframe-picture {
  justify-content: center;
  text-align: center;
}

.wireframe-picture img {
  max-height: 80%;
  max-width: 80%;
  /* object-fit: cover; */
  /* height: 10%; */
  height: 100%;
  border-radius: 50px;
  box-shadow: 2.6px 5.3px 5.3px hsl(0deg 0% 0% / 0.42);
}

.wireframe-picture2 img {
  width: 1920px;
  height: 1080px;
  border-radius: 50px;
  box-shadow: 2.6px 5.3px 5.3px hsl(0deg 0% 0% / 0.42);
}

.wireframe-picture img:hover, .wireframe-picture2 img:hover {
  transform: scale(1.05);
  transition: 0.25s all ease;
}

#tip {
  transition: 0.25s all ease;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  width: 300px;
  height: 150px;
}

.simulation {
  display: grid;
  grid-template-columns: auto;
  width: 100vw;
  margin: 0 auto;
}

.simulation_row {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  width: 100vw;
  margin: 0 auto;
}

.simulation_row p {
  width: 150px;
  text-align: center; 
}

.sliderName {
  width: 200px;
  margin: 20px auto;
  padding: 10px 20px; 
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.slider {
  appearance: none; 
  width: 300px; 
  height: 25px;
  background: lightgreen;
  border-radius: 12px;
}

/* For webkit browsers */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  background: navy;
}

/* For Firefox */
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  background: navy;
}

#predictionChart {
  display: block;
  margin: 0 auto;
}

#simulateButton {
  width: 200px;
  margin: 20px auto;
  padding: 10px 20px; 
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: navy;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#simulateButton:hover {
  background-color: #001f3f; 
}


/* map view */

#map-container {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-top: 20px;
  color: #edf2f4;
  width: 100%;
  justify-content: center;
}

/** map sections **/

#map {
  /* margin-left: 50px; */
  border-color: #1d3557;
  border-width: 5px;
  border-style: solid;
  overflow: hidden;
}

path {
  stroke: white;
  stroke-width: 0.1px;
  z-index: 1;
}

g {
  position: absolute;
  left: 0;
}

.svg-responsive {
  display: inline-block;
  height: 100%;
  left: 0;
}

/** side panel sections **/

#side-panel {
  background-color: #1d3557;
  padding: 20px;
  position: relative;
  display: grid;
  grid-template-rows: 15% 40% 40%;
  row-gap: 0%;
}

/*** title ***/

#data-title {
  margin: 10px 0px;
}

/*** info ***/

#info {
  display: grid;
  grid-template-columns: 30fr 70fr;
  grid-template-rows: 30px 50px 30px;
  column-gap: 10px;
  row-gap: 10px;
}

.data-text {
  padding: 0;
  align-self: center;
  text-align: right;
}

.data-field {
  min-height: 0;
  min-width: 0;
  padding: 0;
  align-self: center;
}

/*** customization ***/

#customization {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  height: 120px;
  text-align: right;
}

/**** year slider ****/

#slider-section {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 80%;
  column-gap: 5%;
}

#slider-container {
  width: 100%;
}

#year-slider {
  appearance: none;
  width: 100%;
  height: 10px;
  background: #bdc8d4;
  outline: none;
  border-radius: 8px;
  align-self: center;
  margin: 0;
}

#year-slider::-webkit-slider-thumb {
appearance: none;
width: 10px;
height: 30px;
border: 2px white solid;
border-radius: 10px;
background: #1d3557; 
cursor: pointer;
}

#year-slider:hover {
  opacity: 0.8;
}

#animate {
  background: #edf2f4;
  border: 0px white solid;
  border-radius: 5px;
  height: 25px;
  width: 40px;
  font: inherit;
  justify-self: right;
}

/**** data dropdown ****/

#data-select {
  display: grid;
  grid-template-columns: 15% 80%;
  column-gap: 5%;
  margin: 0;
  height: 40px;
}

#data-label {
  align-self: center;
  margin: 0;
}

#data-dropdown {
  position: relative;
  align-self: center;
}

#data-dropdown * {
  box-sizing: border-box;
}

#data-selector {
  background: #edf2f4;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #edf2f4 solid;
  border-radius: 0.5em;
  padding: 0.2em 0.4em;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 1;
}

#data-selector:hover {
  opacity: 0.8;
}

#data-selected {
  user-select: none;
}

#arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid black;
  transition: 0.2s;
  z-index: 2;
}

#arrow.rotated {
  transform: rotate(180deg);
}

#data-menu {
  list-style: none;
  width: 100%;
  padding: 0.2em 0.2em;
  margin: 0;
  background: #edf2f4;
  color: black;
  border: 1px black solid;
  border-radius: 0.5em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#data-menu li {
  padding: 0.2em 0.3em;
  border-radius: 0.5em;
  cursor: pointer;
}

#data-menu li:hover {
  opacity: 0.8;
}

.active {
  background: #dcd1d3;
}

#data-menu.open {
  display: block;
  opacity: 1;
}

/**** color selection ****/

#color-select {
  display: grid;
  grid-template-columns: 15% 80%;
  column-gap: 5%;
}

#color-choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px;
}

.color-option {
  position: relative;
  height: 100%;
  width: 100%;
  user-select: none;
  padding: 0px;
}

.color-radio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25px;
  width: 25px;
  background-color: #eee;
  appearance: none;
  border: 0px white solid;
  border-radius: 50%;
}

.color-radio:hover {
  background-color: #ccc;
}

.color-radio.selected {
  border-width: 2px;
  opacity: 0.8;
}